# Credentials

# MLS login Credentials
MLS_USER=
MLS_PASS=
# FUB API Key
FUB_KEY=

# Config

# ID for the smartlist to pull sellers from
FUB_SMARTLIST_SELLER_ID=
# Name for the stage to put expired
FUB_EXPIRED_STAGE_NAME="Expired Lead"
# If lead is expired, and is a zillow lead, it requires a Zillow Stage
FUB_EXPIRED_ZILLOW_STAGE_NAME="Trash"
